[common]
domain = yourdomain.com
replace_domain = false
dbpath=/opt/samba4-gaps/last_send.db
attr_password=virtualCryptSHA256


[google]
admin_email = adminuser@yourdomain.com
service_json = /etc/gaps/service.json

[samba]
basedn = 
