[common]
domain = yourdomain.com
replace_domain = false
dbpath=/opt/samba4-gaps/last_send.db


[google]
admin_email = adminuser@yourdomain.com
service_json = /etc/gaps/service.json

[samba]
basedn = 
ldap_filter = (&(objectClass=user)(mail=*))
mail_attribut = mail
attr_password=virtualCryptSHA256
